.room__list__content_room
    .room__background(id='room__background' + currentRoom)
        .room__arrows
            .arrow_backward(id='arrow_backward' + currentRoom)
                include ../../assets/arrows/expand_white.svg
            .arrow_forward(id='arrow_forward' + currentRoom) 
                include ../../assets/arrows/expand_white.svg
        .room__background_dots(id='room__background_dots' + currentRoom) 
            .dot
            .dot
            .dot
            .dot
    .room__pictures_list
    .room__number_and_price
        .room__number
            p №        
            h2=roomNumber
            h3=isLux
        .room__price
            p=pricePerDay
            h3 в сутки
    hr        
    .room__rating_and_comments
        .room__rating(id='room__rating'+ currentRoom)
        .room__comments
            h3=comments
            p Отзывов
