.room__list {
    display: flex;
    padding: 30px 140px;

    &__options {
        width: 435px;
        
        &_guests,
        &_prices,
        &_rules,
        &_accessibility,
        &_comfort,
        &_optional-comfort {
            margin-top: 30px;
        }
        &_guests,
        &_comfort {
            position: relative;
        }


        &_prices {
            & .price__text {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 20px;
            }
            & .price__range {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 6px;
                width: 266px;
                border: 1px solid rgba(31, 32, 65, 0.25);
                border-radius: 3px;
                & .range_button-1,
                & .range_button-2 {
                    width: 12px;
                    height: 12px;
                    border: 2px solid rgba(255, 255, 255, 1);
                    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
                    border-radius: 10px;
                    
                }
                & .range_bar {
                    height: 6px;
                    width: 88px;
                    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
                }


            }
        }


        &_rules ul  {
            display: flex;
            flex-direction: column;
        }

        &_rules ul .checkbox_list:nth-child(n) {
            margin-top: 10px;
        }

        &_rules .checkbox_list {
            display: flex;
        }
        
        &_accessibility .checkbox_list .checkbox_description {
            flex-direction: column;
            justify-content: flex-start;
            li {
                font-weight: 700;
            }
        }
        &_accessibility .checkbox_list label::before {
            align-self: flex-start;
        }

        &_optional-comfort .optional-comfort_dropdown .input__container {
            display: flex;
            justify-content: space-between;
            border: none;
            align-items: center;
            padding-left: 0;
            & svg {
                transform: none;
            }
        }
        &_optional-comfort {
            position: relative;
        }

        &_optional-comfort ul {
            display: none;
            position: absolute;
        }

    }

    &__content {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding-left: 60px;
        
        & h1 {
            margin-bottom: 20px;
        }
        &_list {
            display: flex;
            flex-wrap: wrap;
        }
        &_room {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 270px;
            height: 257px;
            border: 1px solid rgba(0, 0, 0, 0.12);
            border-radius: 4px;
            margin-bottom: 20px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);

            hr {
                border-color: rgba(31, 32, 65, 0.1);
                margin: 10px 20px;
            }

            .room__number_and_price,
            .room__rating_and_comments{
                display: flex;
                flex-shrink: 2;
                justify-content: space-between;
                align-items: center;
                
                
            }

            .room__number_and_price {
                padding: 20px 20px 0 20px;
                
                .room__number,
                .room__price {
                    display: flex;
                    align-items: end;
                    
                    h3,
                    p {
                        color: rgba(31, 32, 65, 0.5);
                        line-height: 18px;
                    }
                }

                .room__number {
                    cursor: pointer;
                    &:hover {
                        & > * {
                            color: #BC9CFF;
                        }
                    }

                    p:first-child {
                        font-weight: 700;
                        color: #1f2041;
                    }
                    h2 {
                        margin-left: 3px;
                    }
                }
                .room__number h3:last-child{
                    font-weight: 700;
                    color: #BC9CFF;
                    margin-left: 8px;
                    line-height: 14.63px;
                    
                }
                .room__price {
                    h3 {
                        text-transform: lowercase;
                        font-weight: 400;
                    }
                    p {
                        font-weight: 700;
                        margin-right: 3px;
                    }
                }
            }
            .room__rating_and_comments {
                padding: 0 20px 20px 20px;
                
                .room__comments {
                    display: flex;
                    h3,
                    p {
                        color: rgba(31, 32, 65, 0.5);
                        line-height: 18px;
                    }

                    h3 {
                        margin-right: 3px;
                    }
                }
                .room__rating {
                    img {
                        width: 24px;
                        height: 24px;
                        margin-left: 2px;
                    }
                }

            }
            .room__background {
                display: flex;
                flex-grow: 2;
                flex-basis: 150px;
                width: 100%;
                height: 150px;
                background-size: cover;
                position: relative;
                border-radius: 4px 4px 0 0;
                .room__background_dots {
                    position: absolute;
                    display: flex;
                    padding: 15px;
                    bottom: 0;
                    right: 0;
                    & > * {
                        width: 7.5px;
                        height: 7.5px;
                        border: 1px solid #fff;
                        border-radius: 50%;
                        margin-left: 3.75px;
                    }
                    .dot_painted {
                        background: #fff;
                    }
                }
            }

            .room__arrows {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                
                .arrow_forward,
                .arrow_backward {
                    height: 100%;
                    display: flex;
                    align-items: center;
                    visibility: hidden;
                }

                .arrow_backward {
                    transform: rotate(90deg);
                }
                .arrow_forward{
                    transform: rotate(-90deg);
                }

                &:hover {
                    .arrow_backward,
                    .arrow_forward {
                        visibility: visible;
                    }
                }
            }
        }
        &_room:not(:nth-child(4n)) {
            margin-right: 12px;
        }

        @media(max-width:1720px) {
            &_room:nth-child(n) {
                margin-right: 0;
            }
            &_room:not(:nth-child(3n)) {
                margin-right: 12px;
            }
        }
        @media(max-width:1438px) {
            &_room:nth-child(n) {
                margin-right: 0;
            }
            &_room:not(:nth-child(2n)) {
                margin-right: 12px;
            }
            
        }
        &_pagelist {
            display: flex;
            flex-direction: column;
            align-items: center;
            .pagelist_description {
                margin-left: 30px;
                margin-top: 10px;
            }
        }
    }
}