.landing__page {
    height: 830px;
    background: url('../assets/pictures/image_1.jpg') no-repeat;
    background-size: cover;
    padding-top: 70px;
    // @media(max-width:910px) {
    //     height: 400px;
    // }
}