body .ui-datepicker {  
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    border-radius: 4px;
    background-color: #fff;
    width: 320px;
    min-height: 369px;
    padding: 20px;

}

.ui-datepicker .ui-datepicker-calendar {
    margin-top: 20px;
    margin-right: 20px;
}

body .ui-datepicker td {
    vertical-align: middle;
    padding: 0;
}

body .ui-datepicker td a,
body .ui-datepicker-calendar .ui-state-disabled > .ui-state-default {
    color: rgba(31, 32, 65, 0.5);
    text-align: center;
    line-height: 35px;

}

body .ui-datepicker-calendar .ui-state-disabled > .ui-state-default {
    color: rgba(31, 32, 65, 0.25);
}

.ui-datepicker-calendar th span,
body .ui-datepicker td a {
    font-size: 12px;
}

body .ui-datepicker .ui-datepicker-other-month .ui-priority-secondary {
    color: rgba(31, 32, 65, 0.25);
}

.ui-state-default,
.ui-state-highlight,
.ui-state-active {
    width: 39.88px;
    height: 40px;
    
}

.ui-datepicker-today > .ui-state-highlight {
    border-radius: 50%;
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);

}

.ui-state-highlight .ui-state-active,
.ui-state-highlight-first,
.ui-state-highlight-last {
    border-radius: 50%;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%)
}

.ui-state-highlight .ui-state-default {
    background: linear-gradient(180deg, rgba(188, 156, 255, 0.25) 0%, rgba(139, 164, 249, 0.25) 100%)
}




.ui-state-highlight-first .ui-state-default {
    border-radius: 50% 0 0 50%;
}
.ui-state-highlight-last .ui-state-default {
    border-radius: 0 50% 50% 0;
}

tr .ui-state-highlight:not(.ui-state-highlight-first):not(.ui-state-highlight-last) .ui-state-active  {
    border-radius: 50%;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%)
}


body .ui-datepicker td > .ui-state-highlight,
body .ui-datepicker .ui-datepicker-current-day > .ui-state-default,
.ui-state-highlight > .ui-priority-secondary,
body .ui-datepicker .ui-state-highlight-first > .ui-state-default,
body .ui-datepicker .ui-state-highlight-last > .ui-state-default
{
    color: #fff;
    font-weight: 700;
}


body .ui-datepicker .ui-datepicker-header .ui-datepicker-title { 
    font-size: 19px;
    font-weight: 700; 
    line-height: 23px;
}

.ui-datepicker-prev,
.ui-datepicker-next {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    cursor: pointer;
    background-image: url('../assets/arrows/forward.svg');
    background-repeat: no-repeat;
    // overflow: hidden;
  }

.ui-datepicker-prev {
      transform: rotate(180deg);
  }

.ui-datepicker-calendar th span {
    color: rgba(188, 156, 255, 1);
}

.comiseo-daterangepicker-presets {
    display: none;
}

.card__date button {
   display: none;
}

.comiseo-daterangepicker-buttonpanel {
    width: 320px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    
}
.comiseo-daterangepicker-buttonpanel button {
    border: none;
    padding: 0 20px;
    background: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: #BC9CFF;
    text-transform: uppercase;
    top: -35px;
}
