@import 'Montserrat.css';
@import '../pages/header/header.scss';
@import '../assets/logo/logo.scss';
@import '../assets/arrows/dropdown.scss';
@import '../assets/submit-button/submit-button.scss';
@import '../pages/footer/footer.scss';
@import '../pages/cards/searchRoom.scss';
@import '../pages/copyright/copyright.scss';
@import '../pages/landing__page/landing__page.scss';
@import '../assets/extensions/datepicker.scss';
@import '../pages/room__list/room__list.scss';
@import '../pages/room__details/room__details.scss';
@import '../assets/button_like/button_like.scss';
@import '../pages/registration/registration.scss';
@import '../pages/sign_in/sign_in.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 24px;
}

ul li {
    list-style-type: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: rgba(31, 32, 65, 0.75);
}


.container {
    padding: 0 140px;
}

h1,
h2,
h3 {
    font-weight: 700;
    color: rgba(31, 32, 65, 1)
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 19px;
}

h3 {
    font-size: 12px;
    text-transform: uppercase;
}

.input__container {
    padding: 8px 10px 8px 15px;
    display: flex;
    justify-content: space-between;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
    max-height: 44px;
    
    &:focus,
    &:active {
        border: 1px solid rgba(31, 32, 65, 0.5);
    }
}

.input__container .active {
    border: 1px solid rgba(31, 32, 65, 0.5);
}

.input__container svg {
    height: 100%;
    cursor: pointer;
}
.input__container input {
    border: none;
    &:focus{
        outline: none;
    }
}

.card {
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 380px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
} 

.card > * {
    margin-top: 20px;
}

// checkbox styles

.checkbox_list input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.checkbox_list input+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
  }
.checkbox_list input+label::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 4px;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;

}
.checkbox_list input:checked+label::before {
    // background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    background-image: url("../assets/arrows/check.svg");
    border-color: rgba(188, 156, 255, 1);
    
}
#drp_autogen0 {
    display: none;
}