@import 'Montserrat.css';
@import '../pages/header/header.scss';
@import '../assets/logo/logo.scss';
@import '../assets/arrows/dropdown.scss';
@import '../assets/submit-button/submit-button.scss';
@import '../pages/footer/footer.scss';
@import '../pages/cards/searchRoom.scss';
@import '../pages/copyright/copyright.scss';
@import '../pages/landing__page/landing__page.scss';
@import '../assets/extensions/datepicker.scss';
@import '../pages/room__list/room__list.scss';
@import '../pages/room__details/room__details.scss';
@import '../assets/button_like/button_like.scss';
@import '../pages/registration/registration.scss';
@import '../pages/UI_kit/UI_kit.scss';

// styles for elements that used in multiple pages

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 24px;
}

ul li {
    list-style-type: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: rgba(31, 32, 65, 0.75);
}

.page_switcher {
    display: flex;
    flex-direction: column;
    align-items: center;
    

    #websitePages,
    #UIKit {
        cursor: pointer;
        font-size: 42px;
        margin-top: 20px;
        color: #BC9CFF;
        &:hover {
            color: rgba(31, 32, 65, 0.5);
        }
    }
}


.container {
    padding: 0 140px;
}

h1,
h2,
h3 {
    font-weight: 700;
    color: rgba(31, 32, 65, 1)
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 19px;
}

h3 {
    font-size: 12px;
    text-transform: uppercase;
}

.input__container {
    padding: 8px 10px 8px 15px;
    display: flex;
    justify-content: space-between;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
    max-height: 44px;
    max-width: 320px;
    
    &:focus,
    &:active,
    &:hover {
        border: 1px solid rgba(31, 32, 65, 0.5);
    }
}

.input__container

.input__container .active {
    border: 1px solid rgba(31, 32, 65, 0.5);
}

.input__container svg {
    height: 100%;
    cursor: pointer;
}
.input__container input {
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    &:focus{
        outline: none;
    }
}

input::placeholder {
    color: rgba(31, 32, 65, 0.25);
    font-family: 'Montserrat', sans-serif !important;
}
input:not([value=""]) {
    color: rgba(31, 32, 65, 0.75);
    font-family: 'Montserrat', sans-serif !important;
}


.card {
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 380px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    .card__number_and_price {
        display: flex;
        justify-content: space-between;

        .card__number {
            display: flex;
            align-items: end;
            p {
                font-weight: bold;
                color: #000;
            }
            h3 {
                color: #BC9CFF;
            }
        }

        .card__price_per_day {
            display: flex;
            h3,
            p {
                color: rgba(31, 32, 65, 0.5);
            }
        }
    }
    .card__calculate_price,
    .card__service,
    .card__additional_service {
        display: flex;
        justify-content: space-between;
        .service_price,
        .additional_service_price {
            display: flex;
        }
    }
    .card__total_price {
        display: flex;
        .dotted_underline {
            width: 57%;
            border-bottom: 1px dotted rgba(31, 32, 65, 0.25);
        }
    }
    
    .card__name,
    .card__entry_data {
        .input__container:last-child {
            margin-top: 10px;
        }
    }


    
    
    .card__registration {
        display: flex;
        justify-content: space-between;
    }
        

    .card__sign_in {
        display: flex;
        justify-content: space-between;
    }

} 

.card__gender {
    display: flex;
    input[type=radio] {
        display: none;
    }

    label {
        display: inline-block;
        cursor: pointer;
        position: relative;
        padding-left: 25px;
        p {
            color: rgba(31, 32, 65, 0.5);
        }
        &::before {
            content: "";
            display: inline-block;
            width: 22px;
            height: 22px;
            position: absolute;
            left: 0;
            bottom: 2px;
            background: url('../assets/pictures/Rectangle 3.png') 0 0 no-repeat;
        }
    }
    input[type=radio]:checked + label {
        p {
            color: rgba(31, 32, 65, 0.75);
        }
    }

    input[type=radio]:checked + label:before {
        background: url('../assets/pictures/Rectangle 2.png') 0 0 no-repeat;
    }


    
    & > * {
        display: flex;
        margin-right: 20px;
        p {
            padding-left: 5px;
        }
    }

}

.card__special_offers {
    display: flex;
    align-items: center;
    .special_offers_checkbox {
        display: flex;
        align-items: center;
        padding: 4px;
        height: 20px;
        width: 40px;
        border: 1px solid rgba(31, 32, 65, 0.25);
        border-radius: 10px;
        margin-right: 10px;
        cursor: pointer;
        .checkbox_dot {
            width: 12px;
            height: 12px;
            background: rgba(31, 32, 65, 0.25);
            border-radius: 10px;
        }
    }
    .checked {
        justify-content: flex-end;
        border-color: rgba(188, 156, 255, 1);
        .checkbox_dot {
            background: rgba(188, 156, 255, 1);
        }
    }
}

.card > * {
    margin-top: 20px;
}

// checkbox styles

.checkbox_list input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.checkbox_list input+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
  }
.checkbox_list input+label::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 4px;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;

}
.checkbox_list input:checked+label::before {
    background-image: url("../assets/arrows/check.svg");
    border-color: rgba(188, 156, 255, 1);
    
}
#drp_autogen0,
#drp_autogen1,
#drp_autogen2,
#drp_autogen3 {
    display: none;
}