.registration 
    .container
        .card
            .card__title
                h1 Регистрация аккаунта
            .card__name
                .input__container
                    input(type="text", name="name", placeholder="Имя")
                .input__container 
                    input(type="text", name="surname", placeholder="Фамилия")
            .card__gender
                .gender_male
                    input(id="male", type="radio", name="gender")
                    label(for="male")
                        p Мужчина
                .gender_female
                    input(id="female", type="radio", name="gender")
                    label(for="female")
                        p Женщина
            .card__birthday 
                h3 дата рождения
                .input__container
                    input(type="number", name="birthday" placeholder="ДД.ММ.ГГГГ")
            .card__entry_data 
                h3 данные для входа в сервис
                .input__container
                    input(type="text", name="email", placeholder="Email")
                .input__container
                    input(type="text", name="password", placeholder="Пароль")
            .card__special_offers
                .special_offers_checkbox
                    .checkbox_dot 
                p Получать спецпредложения
                
            .submit-buttons
                include ../../assets/submit-button/submit-button.pug
                +btna('register', 'зарегистрироваться')(class="btn btn__withArrow")
            .card__sign_in 
                p Уже есть аккаунт на Toxin
                include ../../assets/submit-button/submit-button.pug
                +btn('submit', 'войти')(class="btn btn__transparent btn__sign_in")
