mixin counter(...items)
    each item, index in items
        .counter__cell
            .counter__title
                h3= item
            .counter__controller
                label(for=index)
                    button(class='button__minus' disabled) -
                input(id=index type="number" class='counter' value=0 readonly)
                label(for=index)
                    button(class='button__plus') +
