mixin list(...items)
    ul
        each item in items
            li= item
mixin listCheckbox(...items)
    ul
        each item, index in items
            .checkbox_list
                input(id=index type="checkbox")
                label(for=index) 
                    li= item