.header
    .header__logo
        include ../../assets/logo/logo.pug

    .header__navbar 
        ul
            li О нас
            li Услуги
                .dropdown-button
                    include ../../assets/dropdown/expand.svg
            li Вакансии
            li Новости
            li Соглашения
                .dropdown-button
                    include ../../assets/dropdown/expand.svg
            .submit-buttons
                button(type="submit") ВОЙТИ
                button(type="submit") ЗАРЕГЕСТРИРОВАТЬСЯ
