.header
    .header__logo
        include ../../assets/logo/logo.pug

    .header__navbar 
        ul
            li О нас
            li Услуги
                .dropdown-button
                    include ../../assets/arrows/expand.svg
            li Вакансии
            li Новости
            li Соглашения
                .dropdown-button
                    include ../../assets/arrows/expand.svg
            .submit-buttons
                include ../../assets/submit-button/submit-button.pug
                +btn('submit', 'ВОЙТИ')(class="btn btn__transparent btn__sign_in")
                +btn('submit', 'ЗАРЕГЕСТРИРОВАТЬСЯ')(class="btn btn__register")
d#datepicker