.header
    .header__logo
        include ../../assets/logo/logo.pug

    .header__navbar 
        ul
            li О нас
            li Услуги
                .dropdown-button
                    include ../../assets/arrows/expand.svg
            li Вакансии
            li Новости
            li Соглашения
                .dropdown-button
                    include ../../assets/arrows/expand.svg
        .submit-buttons
            include ../../assets/submit-button/submit-button.pug
            +buttonTransparent('submit', 'ВОЙТИ')(class="button button__transparent button__sign_in")
            +button('submit', 'ЗАРЕГЕСТРИРОВАТЬСЯ')(class="button button__register")
