.header
    .header__title
        h1 Toxin placeholder
    .header__navbar 
        ul
            li О нас
            li Услуги
            li Вакансии
            li Новости
            li Соглашения
        .submit-buttons 
// Необходимо разобраться с DevServer!