.colors_and_type 
    .colors_column
        include ../../assets/mixins/listCreate.pug
        +colorList(
            ["dark_shade_1", "Dark Shade 100%", "#1F2041"], 
            ["dark_shade_075", "Dark Shade 75%", "#1F2041"], 
            ["dark_shade_05", "Dark Shade 50%", "#1F2041"], 
            ["dark_shade_025", "Dark Shade 25%", "#1F2041"], 
            ["dark_shade_005", "Dark Shade 5%", "#1F2041"], 
            ["purple", "Purple", "#BC9CFF"], 
            ["green", "Green", "#6FCF97"]
        ) 
    .types_column 
        .H1 
            h1 H1 
            h1 This one is the sub-section or widget title
        .H2
            h2 H2 
            h2 Next one is the item title inside widgets
        .H3 
            h3 H3 
            h3 This is a label or CTA text
        .body 
            p body 
            p This is the body text which is used for most of the design, like paragraphs, lists, etc.
