.headers_and_footers
    include ../header/header.pug 
    .header_with_namespace
        include ../header/header.pug 
    .container
        include ../footer/footer.pug
    include ../copyright/copyright.pug
    .copyright_block 
        include ../../assets/logo/logo.pug
        include ../copyright/copyright.pug