include ../../assets/logo/logoGray.pug
.UI_kit
    .UI_kit_backward
        include ../../assets/arrows/forward.svg 
    .UI_kit_content 
    .UI_kit_forward
        include ../../assets/arrows/forward.svg  
    