.logo__picture_gray {
    margin-left: 30px;
    margin-top: 30px;
}

.UI_kit {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 60px 0 145px;
    .UI_kit_content {
        flex-grow: 2;
        .colors_and_type {
            padding: 0 150px;
            display: flex;
            justify-content: space-between;
            .colors_column,
            .types_column {

                display: flex;
                flex-direction: column;

            }
            .colors_column {
                
                .color_block {
                    margin-bottom: 20px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    .color_sample {

                        height: 70px;
                        width: 70px;
                        border-radius: 6px;
                        
                    }
                    .color_description {
                        margin-left: 40px;
                        
                        

                        h2:last-child {
                            font-weight: 400;
                        }
                    }

                    .dark_shade_1 {
                        background: rgba(31, 32, 65, 1);
                    }

                    .dark_shade_075 {
                        background: rgba(31, 32, 65, 0.75);
                    }

                    .dark_shade_05 {
                        background: rgba(31, 32, 65, 0.5);
                    }

                    .dark_shade_025 {
                        background: rgba(31, 32, 65, 0.25);
                    }

                    .dark_shade_005 {
                        background: rgba(31, 32, 65, 0.05);
                    }

                    .purple {
                        background: rgba(188, 156, 255, 1);
                    }

                    .green {
                        background: rgba(111, 207, 151, 1);
                    }
                }
            }

            .types_column {
                
                & > * {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    margin-bottom: 50px;
                    & > :last-child {
                        padding-left: 30px;
                        
                        
                    }

                    
                }
            }
        }

        .headers_and_footers {
            & > * {
                margin-bottom: 40px;
            }
            .copyright_block {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 768px;
                height: 367px;
                margin: 0 auto;
                .copyright {
                    border: none;
                    display: flex;
                    flex-direction: column;
                    
                }
            }
        }

        .cards__page {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            padding: 0 140px;
            & > *:not(.datepicker) {
                margin: 20px;
            }
        }
    }
    .UI_kit_backward,
    .UI_kit_forward {
        position: absolute;
        top: 0;
        height: 100%;
        
        svg {
            top: 50%;
            visibility: hidden;
        }

    }

    .UI_kit_backward:hover,
    .UI_kit_forward:hover {
        svg {
            visibility: visible;
        }
        
    }

    .UI_kit_forward {
       right: 0;
       
    }
    .UI_kit_backward {
        svg {
            transform: rotate(180deg);
        }
    }
}