.button {
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    border-radius: 22px;
    padding: 10px 20px;
    border: none;
    line-height: 15px;
    color: #FFF;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12px;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    font-weight: 700;
    max-height: 44px;
    cursor: pointer;
    &:active {
        opacity: 0.5;
    }

    
    
    
}


.button__block {
    display: flex;
    padding: 2px;
    border-radius: 22px;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    
    
    .button__transparent {
        padding: 10px 20px;
        background: #FFF;
        background-clip: border-box;
        color: #BC9CFF;
    }

    &:active {
        opacity: 1;
        &::after {
            opacity: 0.5; 
        }
        
    }

}

.button__with_arrow {
    margin-top: 10px;
    padding: 15px 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    
    svg {
        position: absolute;
        right: 15px;
    }


    
}