.btn {
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    border-radius: 22px;
    padding: 10px 20px;
    border: none;
    line-height: 14.63px;
    color: #FFF;
    text-transform: uppercase;
    font-size: 12px;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    font-weight: 700;
    cursor: pointer;
    &__transparent {
        position: relative;
        background: #FFF;
        background-clip: padding-box;
        color: #BC9CFF;
        border: 2px solid transparent;

        &:after {
            content: '';
            position: absolute;
            top: 0; right: 0; bottom: 0; left: 0;
            z-index: -1;
            margin: -2px;
            border-radius: inherit; 
            background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);;
        }

    }
    &__withArrow {
        margin-top: 10px;
        padding: 15px 20px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: relative;
        svg {
            position: absolute;
            right: 15px;
            top: 10px;
        }


        
    }
    
}