

.room__details {
    &_background {
        height: 485px;
        width: 100%;
        display: flex;
        .background__big_image {
            width: 70%;
            height: 100%;
            background: url('../assets/pictures/image_1.jpg');
            background-size: cover;
        }
        .background__column {
            width: 30%;
            .background_1 {
                width: 100%;
                height: 50%;
                background: url('../assets/pictures/image_6.jpg');
                background-size: cover;
            }
            .background_2 {
                width: 100%;
                height: 50%;
                background: url('../assets/pictures/image_7.jpg');
                background-size: cover;
            } 
        }
    }
    &_description {
        display: flex;
        margin-top: 70px;
        .description_text {
            padding-right: 70px;
            .text_facilities{
                display: flex;
                justify-content: space-between;
                .facilities_details { 
                    display: flex;
                    flex-direction: column;
                    .details_comfort,
                    .details_convenience,
                    .details_cosiness {
                        display: flex;
                        padding: 20px 0;
                        p:first-child{
                            font-weight: bold;
                        }
                        & > div:last-child {
                            padding-left: 10px;
                        }
                    }
                    .details_convenience,
                    .details_cosiness {
                        border-top: 1px solid rgba(31, 32, 65, 0.1);
                    }
                }
                .description_impression {
                    margin-right: 100px;
                    .impression_chart {
                        display: flex;
                        align-items: end;
                        position: relative; 
                        height: 130px;
                        ul {
                            display: flex;
                            flex-direction: column;
                            padding-left: 30px;
                            .list_label {
                                display: flex;
                                align-items: center;
                                .dot_color {
                                    margin-right: 5px;
                                    width: 10px;
                                    height: 10px;
                                    border-radius: 50%;
                                }

                            }

                            .list_label:first-child .dot_color {
                                background: linear-gradient(#FFE39C, #FFBA9C);
                            } 
                            
                            .list_label:nth-child(2) .dot_color {
                                background: linear-gradient(#6FCF97, #66D2EA);
                            } 

                            .list_label:nth-child(3) .dot_color {
                                background: linear-gradient(#BC9CFF, #8BA4F9);
                            } 

                            .list_label:last-child .dot_color {
                                background: linear-gradient(#909090, #3D4975);
                            } 
                        }
                        

                        .chart_results {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            position: absolute;
                            top: 50px;
                            left: 36px;
                            & > * {
                                color: #BC9CFF;
                            }
                        }
                    }
                    
                }

            }
            .text_comments {
                display: flex;
                flex-direction: column;
                .text_comments_title {
                    display: flex;
                    justify-content: space-between;
                }
                .comment_1,
                .comment_2 {
                    margin-top: 23px;
                    .comment_title {
                        display: flex;
                        .comment_avatar {
                            position: relative;
                            height: 48px;
                            min-width: 48px;
                            background: url('../assets/pictures/avatar_placeholder.jpg') no-repeat;
                            background-size: cover;
                            border: 2px solid #fff;
                            border-radius: 50%
                        }
                        .comment_text {
                            padding-left: 10px;
                            p:first-child {
                                font-weight: bold;
                            }
                            p:last-child {
                                margin-top: 10px;
                            }
                        }
                    }

                }
            }
            .text__rules_and_cancel_details {
                margin-top: 30px;
                display: flex;
                justify-content: space-between;
                .text__rules {
                    h2 {
                        padding-left: 30px;
                    }
                    ul {
                        display: flex;
                        flex-direction: column;
                        margin-top: 20px;
                        min-width: 320px;

                        .list_label {
                            display: flex;
                            align-items: center;
                            margin-top: 10px;
                            .dot_color  {
                                display: flex;
                                margin: 0 10px;
                                background: rgba(31, 32, 65, 0.25);
                                width: 10px;
                                height: 10px;
                                border-radius: 50%;
                            }
                        }
                        .list_label:last-child {
                            align-items: start;

                            .dot_color {
                                margin-top: 5px;
                                padding: 5px;
                            }
                        }
                            
                    }

                    
                    
                }
                .text__cancel_details {
                    margin-left: 100px;
                    p {
                        margin-top: 20px;
                    }
                }
            }
        }

        .room__details_total_price {
            
            .card {

                .card__number_and_price {
                    display: flex;
                    justify-content: space-between;

                    .card__number {
                        display: flex;
                        align-items: end;
                        p {
                            font-weight: bold;
                            color: #000;
                        }
                        h3 {
                            color: #BC9CFF;
                        }
                    }

                    .card__price_per_day {
                        display: flex;
                        h3,
                        p {
                            color: rgba(31, 32, 65, 0.5);
                        }
                    }
                }
                .card__calculate_price,
                .card__service,
                .card__additional_service {
                    display: flex;
                    justify-content: space-between;
                    .service_price,
                    .additional_service_price {
                        display: flex;
                    }
                }
                .card__total_price {
                    display: flex;
                    .dotted_underline {
                        width: 57%;
                        border-bottom: 1px dotted rgba(31, 32, 65, 0.25);
                    }
                }
            }
        }
    }
}