include ../../assets/submit-button/submit-button.pug

.sign_in
    .container 
        .card
            .card__title
                h1 Войти
            .card__entry_data 
                label(for="email")
                    .input__container
                        input(id="email" type="text", name="email", placeholder="Email")
                label(for="password")
                    .input__container
                        input(id="password" type="text", name="password", placeholder="Пароль")
            .submit-buttons
                +btna('enter', 'войти')(class="btn btn__with_arrow btn__sign_up")
            .card__registration
                p Нет аккаунта на Toxin?
                .submit-buttons
                    +btn('enter', 'создать')(class="btn btn__transparent btn__register")
