.roomList__content_room
    .room__background(id='room__background' + currentRoom)
        .room__arrows
            .arrow_backward(id='arrow_backward' + currentRoom)
                include ../../assets/arrows/forward-white.svg
            .arrow_forward 
                include ../../assets/arrows/forward-white.svg
    .room__pictures_list
    .room__number_and_price
        .room__number        
            h1=roomNumber
            h2=isLux
        .room__price
            h3=pricePerDay
            p в сутки
    .room__rating_and_comments
        .room__rating(id='room__rating'+ currentRoom)
        .room__comments
            h3=comments
            p Отзывов
