.roomList
    .roomList__options
        .roomList__options_dates
            h3 даты пребывания в отеле
            .input__container
                p#dates=dateStr
                label.button__expand(for="dates")
                    include ../../assets/arrows/expand.svg
        .roomList__options_guests
            h3 гости
            .input__container
                p#guests=counterStr
                label.button__expand(for="guests") 
                    include ../../assets/arrows/expand.svg
            .guest__counter
                include ../../assets/mixins/counterCreate.pug
                +counter('взрослые', 'дети', 'младенцы')
                .apply__buttons
                    h3(class='button__refresh') очистить
                    h3(class='button__apply') применить
        .roomList__options_prices
            h3 диапазон цены
            p 5 000₽ - 10 000₽
            .price__range
            p Стоимость за сутки пребывания в номере
        .roomList__options_rules
            h3 правила дома
            include ../../assets/mixins/listCreate.pug
            +listCheckbox(0, ['Можно курить', 'Можно с питомцами', 'Можно пригласить гостей (до 10 человек)'])
        .roomList__options_accessibility
            h3 доступность
            ul
                .checkbox_list
                    input(id=3 type="checkbox")
                    label(for=3)
                        .checkbox_description
                            li Широкий коридор
                            p Ширина коридоров в номере не менее 91 см.
                .checkbox_list
                    input(id=4 type="checkbox")
                    label(for=4)
                        .checkbox_description
                            li Помощник для инвалидов
                            p На 1 этаже вас встретит специалист  и проводит до номера.
        .roomList__options_comfort
            h3 удобства номера
            .input__container
                .room_comfort
                    p 2 спальни, 2 кровати
                label.button__expand(for="room_comfort")
                    include ../../assets/arrows/expand.svg
        .roomList__options_optional-comfort
            .optional-comfort_dropdown
                h3 дополнительные удобства
                include ../../assets/arrows/expand.svg
            include ../../assets/mixins/listCreate.pug
            +listCheckbox(5, ['Завтрак', 'Письменный стол', 'Стул для кормления', 'Кроватка', 'Телевизор', 'Шампунь'])
                