.roomList {
    padding: 30px 140px;

    &__options {
        width: 435px;
        
        &_dates,
        &_guests,
        &_prices,
        &_rules,
        &_accessibility,
        &_comfort,
        &_optional-comfort {
            margin-top: 30px;
        }


        &_rules ul  {
            display: flex;
            flex-direction: column;
        }

        &_rules ul .checkbox_list:nth-child(n) {
            margin-top: 10px;
        }

        &_rules .checkbox_list {
            display: flex;
        }
        
        &_accessibility .checkbox_list .checkbox_description {
            flex-direction: column;
            justify-content: flex-start;
            li {
                font-weight: 700;
            }
        }
        &_accessibility .checkbox_list label::before {
            align-self: flex-start;
        }

        &_optional-comfort .optional-comfort_dropdown {
            display: flex;
            justify-content: space-between;
        }

    }
}