.footer
    .footer__description
        .description__logo
            include ../../assets/logo/logo.pug
        .description__text
            p Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
    .footer__options
        include ../../assets/mixins/listCreate.pug
        +list("НАВИГАЦИЯ", "О нас", "Новости", "Служба поддержки", "Услуги")
        +list("О НАС", "О сервисе", "Наша команда", "Вакансии", "Инвесторы")
        +list("СЛУЖБА ПОДДЕРЖКИ", "Соглашения", "Сообщества", "Связь с нами")
       
    .footer__subscribe
         include ../../assets/mixins/listCreate.pug
         +list("ПОДПИСКА", "Получайте специальные предложения и новости сервиса")
         .input__container
            input(type="text" placeholder='Email')
            .input__button
                include ../../assets/arrows/forward.svg
