.card__date {
    display: flex;
    justify-content: space-between;
    .input__container {
        width: 150px;
        
    }
    .input__container input {
        width: 20%;
        flex-grow: 1;
    }
}

.submit-buttons button {
    margin-top: 10px;
}

